<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Hyva\CompatModuleFallback\Model\CompatModuleRegistry">
        <arguments>
            <argument name="compatModules" xsi:type="array">
                <item name="magento2-hyva-checkout-geissweb-euvat" xsi:type="array">
                    <item name="original_module" xsi:type="string">Geissweb_Euvat</item>
                    <item name="compat_module" xsi:type="string">Vendic_HyvaCheckoutGeisswebEuvat</item>
                </item>
            </argument>
        </arguments>
    </type>

    <type name="Hyva\Checkout\Model\Form\AbstractEntityForm">
        <arguments>
            <argument name="entityFormModifiers" xsi:type="array">
                <item name="geissweb_form_modifiers" xsi:type="object">
                    Vendic\HyvaCheckoutGeisswebEuvat\Model\Form\Modifier\AddressModifiers
                </item>
            </argument>
        </arguments>
    </type>
</config>
