<?xml version="1.0"?>
<!--
    ~ Copyright (c) Vendic B.V https://vendic.nl/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="euvat">
            <tab>sales</tab>
            <group id="hyva_checkout" translate="label" type="text" sortOrder="500" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Hyva Checkout</label>
                <field id="display_vat_id_for_domestic_country" translate="label" type="select" sortOrder="10" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Display VAT number field for domestic country</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
